.header {
  background-color: lightgrey;
  margin-top: 0;
  position: sticky;
  left: 0;
  top: 0;
}

.header-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
}
.header-li {
  flex: 1;
  padding: 10px;
  text-align: center;
  justify-content: center;
  list-style-type: none;
}
h1 {
  text-align: center;
  margin-top: 0;
  padding-top: 10px;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  text-shadow: 0.5px 0.5px 0.5px #000000;
  text-decoration: none;
}
a:active {
  color: white;
  text-decoration: none;
}
.mobile-icon:hover {
  cursor: pointer;
}
.mobile-icon:active {
  color: grey;
}
#bg {
  background-color: rgb(161, 161, 161);
}

#rpg {
  background-color: rgb(161, 161, 161);
}

.pgIcon {
  transform: rotate(180deg);
  margin-bottom: -5px;
  margin-right: 5px;
}

@media all and (min-width: 800px) {
  .mobile-nav {
    display: none;
  }
  .browser-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .header-ul {
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
  }
  h1 {
    flex: 2;
    width: 100%;
    margin-right: 50px;
  }
}

@media all and (max-width: 800px) {
  .browser-nav {
    display: none;
  }
  h1 {
    padding-bottom: 20px;
  }
  .mobile-icon {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 50px;
    height: 40px;
  }
  .header-ul {
    margin-top: -25px;
  }
}

@media all and (max-width: 350px) {
  h1 {
    font-size: 25px;
  }
}
