.ProductNav {
  background-color: darkgrey;
  padding: 20px 10px;
}
.flex-form {
  background-color: lightgray;
  border: 2px solid grey;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.flexItem {
  flex: 1;
  padding: 0;
}

@media all and (min-width: 800px) {
  .flex-form {
    flex-direction: row;
  }
}
