.PopulateProducts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  padding: 5%;
  justify-content: space-evenly;
}
.product-ul {
  padding-left: 0;
  background-color: white;
  list-style-type: none;
  flex: 1 1 auto;
  padding: 15px;
  box-shadow: 0 7px 6px -6px rgba(0, 0, 0, 0.4);
  height: 90%;
  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
  margin: 10%;
}

.image {
  flex: 1;
}
.list-items {
  flex: 1;
  align-content: flex-end;
}
.product-li {
  padding: 2%;
}

@media all and (min-width: 800px) {
  .PopulateProducts {
    flex-direction: row;
    margin: 0;
    padding: 30px;
  }
  .product-ul {
    margin: 30px;

    /* min-height: 300px;
    max-height: 300px; */
    max-width: 200px;
  }
}
